In [1]:
1

1

In [2]:
1.0

1.0

In [3]:
1 + 1

2

In [6]:
1 * 3

3

In [9]:
1 / 2.0

0.5

In [10]:
2 ** 4

16

In [11]:
(2+3) * (5+5)

50

In [13]:
4 % 2

0

In [14]:
5 % 2

1

In [15]:
var = 2

In [16]:
x = 2
y = 3

In [17]:
x + y

5

In [18]:
x

2

In [22]:
x = x+x

In [23]:
x

8

In [24]:
x

8

In [25]:
name_of_var = 12

In [27]:
# Strings Comment

In [28]:
' single quote'

' single quote'

In [29]:
"this is another string with double quotes"

'this is another string with double quotes'

In [30]:
"I can't go"

"I can't go"

In [31]:
x = 'hello'

In [32]:
x

'hello'

In [36]:
print(x) #this is the official way to display a print function

hello

In [40]:
num = 7
name = 'Sayem'

In [46]:
'My number is {one} and my name is {two}, this is {one}'.format(one=num,two=name)

'My number is 7 and my name is Sayem, this is 7'

In [42]:
#This is how it is trully been printed to the console
print('My number is {} and my name is {}'.format(num,name))

My number is 7 and my name is Sayem

In [47]:
s= 'hello'

In [48]:
s[0]

'h'

In [49]:
s[4]

'o'

In [50]:
#Slice Notation

In [51]:
s = 'abcdefghijk'

In [52]:
s[0:] #Grab everything from 0 onward

'abcdefghijk'

In [54]:
s[:3] #Grab everthing up to but not including the 3rd index character

'abc'

In [55]:
s[0:3] #Grab from start 0 index which is included but not up to 3

'abc'

In [56]:
#Lists are a sequence of elements

In [58]:
['a','b','c']

['a', 'b', 'c']

In [67]:
my_list = ['a','b','c']

In [68]:
my_list.append('d')

In [69]:
my_list

['a', 'b', 'c', 'd']

In [70]:
my_list[0]

'a'

In [71]:
my_list[1:3]

['b', 'c']

In [72]:
my_list[0] = 'NEW'

In [73]:
my_list

['NEW', 'b', 'c', 'd']

In [74]:
##Nested list

In [75]:
nest = [1,2,[3,4]]

In [76]:
nest

[1, 2, [3, 4]]

In [77]:
nest[2]

[3, 4]

In [78]:
nest[2][1]

4

In [80]:
nest = [1,2,3,[4,5,['target']]]

In [84]:
print(nest[3][2][0])

target